@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to left top, 
                  #28e7de, #00d9ec, #00c9f7, #00b8fc, #00a4f9, #3c97f3,
                  #598aea, #6f7cdf, #7c74d7, #876bcd, #9062c3, #9859b8);
  font-family: 'Open Sans', sans-serif;
}

table {
  background-color: "transperant";
  margin: auto;
}

td {
  font-size: 0.8em;
  padding: 1.5em 2.5em;
  font-weight: 500;
}

a {
  color: #241818 !important;
  text-decoration: none;
}

td::after {
  padding: 40px;
}

tr::after {
  padding: 2em;
}
div {
  margin: auto;
  margin-top: 15px;
  display: block;
  text-align:center;
  padding: 0.5em;
}

div p {
  color: #f0f0f0;
  font-size: 1.15em;
}

a {
  display: block;
  position: relative;
  border-radius: 50px;
  /* background: #FBEAFF; */
  background: #FCF7FF;
  position: relative;
  color: #FFF;
  font-size: 1.3em;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.7em;
}

a:hover {
  font-size: 1.4em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}


