@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: auto;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 1.25em;
  font-weight: 600;
  padding: 1em 1.25em;
  text-align: center;
}
td {
  font-size: 0.75em;
  color: #fff !important;
  padding: 1em 2.5em;
}

a {
  color: #f3f3f3 !important;
  text-decoration: none;
}

td::after {
  padding: 40px;
}

.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

a:visited {
  color: grey;
}

tr::after {
  padding: 2em;
}

